/* html {
  font-size: 16px
} */

/* p {
  font-size: 1rem;
  border: 0.1rem solid #aaa;
  padding: 1rem;
} */

.box {
  font-size: 20px;
}

p {
  font-size: 1em;
  border: 0.1em solid #aaa;
  padding: 1em;
}
